h1 {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

image-container {
    display: flex;
    justify-content: center;
}

.image {
    width: 1150px;
    height: 580px;
    margin: 10px;
}
