h1 {
    text-align: center;
}

.contact-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contafct-info p {
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 5px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}
